<label>
  <input type="checkbox"
       checked={{isLoaded}}
         onclick={{action (mut isLoaded) value="target.checked"}}>
  click me
</label>
{{my-c}}
{{#if isLoaded}}
  {{#my-c}}
    my-c
  {{/my-c}}
{{/if}}
{{outlet}}
